.main-panel {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out; 
  width: calc(100% - 0px); 
  min-height: 100vh; 
  overflow: auto; 
}


.content-wrapper.shifted {
    background-color: rgb(253, 223, 223);
  /* Styles spécifiques lorsque la barre latérale est ouverte */
}

.content-wrapper.not {
  background-color: rgb(253, 223, 223);

  margin-left: 250px; 
  width: calc(100% - 250px);
}

/* .content-wrapper {
  margin-left: 250px; 
  width: calc(100% - 250px);

} */