@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f1f1f1;
  transition: all 0.5s ease;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px #aaa;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #589a8d;
}


.main-panel {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out; /* Smooth transition for margin and width */
  width: 100%; /* Default width */
  min-height: 100vh; /* Ensure the panel takes full height */
  overflow: auto; /* Handle overflow content */
}