.notification-bell {
  position: relative;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

/* Sidebar.css */
.sidebar {
  position: fixed;
  left: -250px;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}
