.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Full width when open */
  height: 100%;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-200px); /* Partially hide the sidebar */
}

.sidebar.open {
  transform: translateX(0); /* Fully show the sidebar */
}

.nav-item .nav-link {
  display: flex;
  align-items: center;
}

.nav-item .menu-icon {
  margin-right: 10px;
}
