.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: right 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .nav {
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    padding: 15px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #444;
  }
  
  .icon-menu {
    cursor: pointer;
    font-size: 24px;
  }
  